*,
#root,
html,
body {
  margin: 0;
}

*,
#root,
html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P', cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vmin;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
  overflow-x: hidden;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dialog-hidden {
  display: none;
}
